app = "movieclock"
primary_region = "sjc"

[build]

[deploy]
  release_command = "node dist/db/migrate.js"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
